@import "tailwindcss";

@theme {
  --color-main: var(--color-green-600);
  --color-namthanh: var(--color-green-800);
}

body {
  @apply min-h-dvh text-main bg-linear-to-b from-green-100 to-green-200;
}