---
import Layout from '../layouts/Layout.astro';
import data from '../../data/data.json';
import ThanhLe from '../components/ThanhLe.astro';
import GioiThieu from '../components/GioiThieu.astro';
import Logo from '../components/Logo.astro';

const seo = {
	title: "Thánh Lễ Việt Nam tại Nhật Bản - Về Với Chúa",
	description: "Tổng hợp Thánh Lễ Việt Nam tại Nhật bản, Thánh Lễ Tokyo , Thánh Lễ Kyoto, Thánh Lễ Fukuoka, Thánh Lễ Gunma ...",
}

---

<Layout seo={seo} >
	<div class="max-w-[700px] container mx-auto px-5">
		<Logo />
		<GioiThieu />
		<a href="/kinh-nam-thanh-2025" class="max-w-[300px] mx-auto my-10 shadow border rounded-2xl px-5 py-2 block text-center">
			KINH NĂM THÁNH 2025
			<span class="ml-2 inline-flex size-2.5 animate-ping rounded-full bg-namthanh opacity-95"></span>
		</a>
		{data.map((item) => <ThanhLe item={item} />)}	
	</div>
</Layout>
