---
import Layout from '../layouts/Layout.astro';
import data from '../../data/data.json';
import ThanhLe from '../components/ThanhLe.astro';
import GioiThieu from '../components/GioiThieu.astro';
import Logo from '../components/Logo.astro';

const seo = {
	title: "Thánh Lễ Việt Nam tại Nhật Bản - Về Với Chúa",
	description: "Tổng hợp Thánh Lễ Việt Nam Sắp diễn ra tại Nhật bản, Thánh Lễ ở Tokyo , Thánh Lễ Kyoto, Thánh Lễ ở Fukuoka, Thánh Lễ ở Gunma ...",
}

---

<Layout seo={seo} >
	<div class="max-w-[700px] container mx-auto px-5">
		<Logo />
		<GioiThieu />
		{data.map((item) => <ThanhLe item={item} />)}	
	</div>
</Layout>
