---
import Layout from '../layouts/Layout.astro';
import ThanhLe from '../components/ThanhLe.astro';
import GioiThieu from '../components/GioiThieu.astro';
import Logo from '../components/Logo.astro';

const seo = {
	title: "Thánh Lễ Việt Nam tại Nhật Bản - Về Với Chúa - KINH NĂM THÁNH 2025",
	description: "KINH NĂM THÁNH 2025 - Lạy Cha trên trời, Xin cho ơn đức tin mà Cha ban tặng chúng con trong Chúa Giêsu Kitô, Con Cha và Anh của chúng con",
}

---

<Layout seo={seo} >
	<div class="max-w-[700px] container mx-auto px-5">
		<Logo />
		<div class="pb-10">
			<h1 class="text-3xl mb-5">KINH NĂM THÁNH 2025</h1>
			<div class=" leading-8">
				Lạy Cha trên trời,<br/>
				Xin cho ơn đức tin mà Cha ban tặng chúng con<br/>
				trong Chúa Giêsu Kitô, Con Cha và Anh của chúng con,<br/>
				cùng ngọn lửa đức ái được thắp lên trong tâm hồn chúng con bởi Chúa Thánh Thần,<br/>
				khơi dậy trong chúng con niềm hy vọng hồng phúc hướng về Nước Cha trị đến.<br/>
				Xin ân sủng Cha biến đổi chúng con<br/>
				thành những người miệt mài vun trồng hạt giống Tin Mừng.<br/>
				Ước gì những hạt giống ấy<br/>
				biến đổi từ bên trong nhân loại và toàn thể vũ trụ này,<br/>
				trong khi vững lòng mong đợi trời mới đất mới,<br/>
				lúc mà quyền lực Sự Dữ sẽ bị đánh bại,<br/>
				và vinh quang Cha sẽ chiếu sáng muôn đời.<br/>
				Xin cho ân sủng của Năm Thánh này<br/>
				khơi dậy trong chúng con, là Những Người Lữ Hành Hy Vọng,<br/>
				niềm khao khát kho tàng ở trên trời.<br/>
				Đồng thời cũng làm lan tỏa trên khắp thế giới<br/>
				niềm vui và sự bình an của Đấng Cứu Chuộc chúng con.<br/>
				Xin tôn vinh và ngợi khen Cha là Thiên Chúa chúng con,<br/>
				Cha đáng chúc tụng mãi muôn đời. A-men.
			</div>
			<p class="mt-4">Nguồn dữ liệu: <a href="https://vietcatholicjp.net/" target="_blank" class=" font-bold underline">https://vietcatholicjp.net/</a></p>
		</div>
	</div>
</Layout>
