<div class=" my-10 ">
  <p class=" font-bold">Tổng hợp lịch Thánh Lễ tiếng Việt sắp diễn ra tại Nhật bản!</p>
  <p>Chúng tôi mong muốn mang đến một không gian đơn giản, dễ sử dụng để các tín đồ Công giáo Việt Nam tra cứu thông tin về các buổi lễ tiếng Việt. Toàn bộ dữ liệu được cập nhật từ nguồn uy tín Phụng Vụ Lời Chúa. Đặc biệt, chúng tôi xin gửi lời cảm ơn chân thành đến các cha đã tận tình cung cấp thông tin quý báu, giúp trang web này trở thành hiện thực. Hy vọng bạn sẽ tìm thấy lịch lễ phù hợp và cùng hòa mình vào đời sống đức tin của cộng đồng!</p>
  <p class="mt-4">Nguồn dữ liệu: <a href="https://vietcatholicjp.net/" target="_blank" class=" font-bold underline">https://vietcatholicjp.net/</a></p>
  <p class="pt-3 text-xs">Dữ liệu được cập nhật ngày: 2日11月2025年</p>
</div>