<div class="py-10 flex justify-center">
  <a href="/">
    <svg width="100" height="150" xmlns="http://www.w3.org/2000/svg">
      <rect x="45" y="0" width="10" height="150" fill="var(--color-purple-900)"/>
      <rect x="0" y="50" width="100" height="10" fill="var(--color-purple-900)"/>
    </svg>
  </a>
</div>