---
const { item } = Astro.props;

function formatJapaneseDate(dateString: string) {
  const date = new Date(dateString);
  const month = date.getMonth() + 1; // getMonth() trả về 0-11, nên +1
  const day = date.getDate();
  const weekdayIndex = date.getDay(); // 0 (Chủ nhật) đến 6 (Thứ bảy)

  // Mảng thứ bằng tiếng Nhật
  const weekdays = ["日", "月", "火", "水", "木", "金", "土"];
  const weekday = weekdays[weekdayIndex];

  return [month, day, weekday];
}

var date = formatJapaneseDate(item.date);

---

<div class="py-10 grid grid-cols-[200px_auto] items-center border-b border-main relative">
  <a href={ "/thanh-le/" + item.slug } class=" absolute top-0 left-0 w-full h-full"></a>
  <div class="flex flex-col items-center gap-5">
    <div class=" text-4xl">{ date[2] }</div>
    <div class=" text-2xl">{ item.time }</div>
  </div>
  <div class="flex flex-col gap-3 text-xl">
    <div>{ date[0] }月{ date[1] }日</div>
    <div>{ item.title }</div>
    <div>{ item.name }</div>
  </div>
</div>
