---
import '../styles/global.css';
import { SEO } from "astro-seo";
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro';

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<head>
			<SEO
				title={seo.title}
				description={seo.description}
				openGraph={{
					basic: {
						title: seo.title,
						type: "Thánh Lễ Việt Nam tại Nhật Bản",
						image: "https://lich-thanh-le-o-nhat-ban.vercel.app/favicon.svg",
					}
				}}
			/>

			<SpeedInsights />
			<Analytics />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>
